@use '@angular/material' as mat;
@use '../brand-palettes';
@use '../utils';

$theme-color-config: (
    primary: mat.define-palette(brand-palettes.$brand-green-palette, 500, 300, 800),
    accent: mat.define-palette(brand-palettes.$brand-purple-palette, 800, 500, 900),
    warn: mat.define-palette(mat.$red-palette)
);

$colors-to-patch: (
    background: (
        background: mat.get-color-from-palette(mat.$grey-palette, A100)
    ),
    foreground: (
        text: mat.get-color-from-palette(mat.$blue-gray-palette, 900)
    )
);

$brand-theme: mat.define-light-theme(
    utils.with-core-config($theme-color-config)
);

$overriden-brand-theme: utils.override-colors($brand-theme, $colors-to-patch);

@mixin apply-theme() {
    @include utils.create-theme-bundle($overriden-brand-theme);
}