<mat-toolbar color="accent">
    <a [routerLink]="['/heroes/home']">
        <picture class="">
            <img src="https://dstatic.w2m.com/assets/w2m-travel/dist/logos/world2meet.svg" alt="logow2m" height="35"/>
        </picture>
    </a>
    <span class="example-spacer"></span>
    <a [routerLink]="['/heroes/new-hero']">
        <span class="mat-caption">Agregar Superheroe</span>
    </a>
    <a [routerLink]="['/heroes/search']">
        <span class="mat-caption">Buscar</span>
    </a>
</mat-toolbar>
