<h4 class="mat-headline-6">Heroes - App</h4>

@if(heroes | async; as heroes) {
  <mat-tab-group
    color="primary"
    [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="handleUpdateParams($event)"
  >
      <mat-tab label="Marvel">
          <div class="tab-body">
            @for (hero of heroes.marvel; track $index) {
              <w2m-card-hero [hero]="hero" />
            }
          </div>
      </mat-tab>
      <mat-tab label="DC">
          <div class="tab-body">
            @for (hero of heroes.dc; track $index) {
              <w2m-card-hero [hero]="hero" />
            }
          </div>
      </mat-tab>
  </mat-tab-group>
}
